<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>短网址,短网址生成,短链接</title>
    <meta name="Description" content="短网址程序,短网址服务,短网址转换">
    <meta name="keywords" content="短网址,短网址生成,短链接,网址缩短,短链接生成器,新浪短网址,长网址变短网址,t.cn,域名缩短">
    <script src="/jquery.min.js"></script>
    <link href="/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/bootstrap.min.js"></script>
    <style>
        @media (min-width: 1200px) {
            .container {
                width: 751px;
            }
        }
    </style>
</head>
<body style="background-color: aliceblue">
<div class="container">
    <br>
    <h1 style="font-size: x-large;" align="center">短网址生成</h1><br>
    <br>
    <form id="url_form">
        <div class="form-group">
            <label for="url_input">输入网址</label>

            <input type="text" name="url" class="form-control" id="url_input" placeholder="原网址"/>

        </div>

        <div class="form-group">
            <label for="url_input">生成网址</label>

            <input type="text"  class="form-control" id="url_result" placeholder="短网址"/>

        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> 需要密码
            </label>
        </div>

        <button type="submit" id="submit_btn" class="btn btn-default">生成</button>
    </form>
</div>

<script type="text/javascript">

    $("#submit_btn").click(function () {

        var url = $("#url_input").val();


        $.ajax(
            {
                url: "/url",
                type: "post",
                data: $("#url_form").serialize(),
                success: function (result) {
                    var short_url = result.extend.shortUrl;
                    alert(short_url);
                    $("#url_result").val(short_url);
                }
            }
        );
        return false;
    });

</script>
</body>
</html>