<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>短网址,短网址生成,短链接</title>
    <meta name="Description" content="短网址程序,短网址服务,短网址转换">
    <meta name="keywords" content="短网址,短网址生成,短链接,网址缩短,短链接生成器,新浪短网址,长网址变短网址,t.cn,域名缩短">
    <script src="/jquery.min.js"></script>
    <link href="/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/bootstrap.min.js"></script>
    <style>
        @media (min-width: 1200px) {
            .container {
                width: 751px;
            }
        }
    </style>
</head>
<body style="background-color: aliceblue">
<div class="container">
    <br>
    <div class="jumbotron">
        <h1>啊哦！没有找到这个连接</h1>
        <p>可能是输入错误，或者这个连接过期了</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">重新生成一份</a></p>
    </div>
</div>


</body>
</html>